__pycache__/Graph.cpython-39.pyc
.idea/Graph.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
data/.DS_Store
data/athens_large/.DS_Store
data/athens_large/evals/.DS_Store
data/athens_large/ge/athens_large_ge_edges.txt
data/athens_large/ge/athens_large_ge_vertices_old.txt
data/athens_large/ge/athens_large_ge_vertices.txt
data/athens_large/ge/ge_vs_rn_athens_large.pdf
data/athens_large/kevin/athens_large_kevin_edges_old.txt
data/athens_large/kevin/athens_large_kevin_edges.txt
data/athens_large/kevin/athens_large_kevin_vertices_old.txt
data/athens_large/kevin/athens_large_kevin_vertices.txt
data/athens_large/kevin/athens_xxlarge_kevin_edges.txt
data/athens_large/kevin/athens_xxlarge_kevin_vertices.txt
data/athens_large/kevin_crp/.DS_Store
data/athens_large/kevin_crp/athens_large_kevin_crp_edges.txt
data/athens_large/kevin_crp/athens_large_kevin_crp_vertices.txt
data/athens_large/kevin_dd/athens_large_kevin_dd_edges.txt
data/athens_large/kevin_dd/athens_large_kevin_dd_vertices.txt
data/athens_large/mahmuda/athens_large_mahmuda_
data/athens_large/mahmuda/athens_large_mahmuda_edges.txt
data/athens_large/mahmuda/athens_large_mahmuda_vertices.txt
data/athens_large/mahmuda/180/athens_large_mahmuda_
data/athens_large/mahmuda/180/athens_large_mahmuda_edges.txt
data/athens_large/mahmuda/180/athens_large_mahmuda_vertices.txt
data/athens_large/osm/.DS_Store
data/athens_large/osm/athens_large_osm_edges.txt
data/athens_large/osm/athens_large_osm_vertices.txt
data/athens_large/ours_alt_crp/.DS_Store
data/athens_large/ours_alt_crp/athens_large_ours_alt_crp_edges.txt
data/athens_large/ours_alt_crp/athens_large_ours_alt_crp_vertices.txt
data/athens_large/ours_crp/.DS_Store
data/athens_large/ours_crp/athens_large_ours_crp_edges.txt
data/athens_large/ours_crp/athens_large_ours_crp_vertices.txt
data/athens_large/sophia/athens_large_sophia_edges_old.txt
data/athens_large/sophia/athens_large_sophia_edges.txt
data/athens_large/sophia/athens_large_sophia_vertices.txt
data/athens_large/sophia/sophia_athens_large.png
data/athens_large/teleatlas/.DS_Store
data/athens_large/teleatlas/athens_large_teleatlas_edges.txt
data/athens_large/teleatlas/athens_large_teleatlas_vertices.txt
data/athens_small/.DS_Store
data/athens_small/cao/athens_small_cao_edges.txt
data/athens_small/cao/athens_small_cao_vertices.txt
data/athens_small/cao/plot_road_network.m
data/athens_small/davies/athens_small_davies_edges.txt
data/athens_small/davies/athens_small_davies_vertices.txt
data/athens_small/davies/plot_road_network.m
data/athens_small/edelkamp/athens_small_edelkamp_edges.txt
data/athens_small/edelkamp/athens_small_edelkamp_vertices.txt
data/athens_small/edelkamp/plot_road_network.m
data/athens_small/evals/.DS_Store
data/athens_small/ge/athens_small_ge_edges.txt
data/athens_small/ge/athens_small_ge_vertices_old.txt
data/athens_small/ge/athens_small_ge_vertices.txt
data/athens_small/james/athens_small_james_edges.txt
data/athens_small/james/athens_small_james_vertices.txt
data/athens_small/james/plot_road_network.m
data/athens_small/james/stats_md_10.txt
data/athens_small/james/stats_md_100.txt
data/athens_small/kevin_dd/athens_small_kevin_dd_edges.txt
data/athens_small/kevin_dd/athens_small_kevin_dd_vertices.txt
data/athens_small/kevin_kl/athens_small_kevin_kl_edges.txt
data/athens_small/kevin_kl/athens_small_kevin_kl_vertices.txt
data/athens_small/mahmuda/athens_small_mahmuda_
data/athens_small/mahmuda/athens_small_mahmuda_edges.txt
data/athens_small/mahmuda/athens_small_mahmuda_vertices.txt
data/athens_small/mahmuda/90/athens_small_mahmuda_
data/athens_small/mahmuda/90/athens_small_mahmuda_edges.txt
data/athens_small/mahmuda/90/athens_small_mahmuda_vertices.txt
data/athens_small/osm/.DS_Store
data/athens_small/osm/athens_small_osm_edges.txt
data/athens_small/osm/athens_small_osm_vertices.txt
data/athens_small/osm_crp/.DS_Store
data/athens_small/osm_crp/athens_small_osm_crp_edges.txt
data/athens_small/osm_crp/athens_small_osm_crp_vertices.txt
data/athens_small/ours/.DS_Store
data/athens_small/ours/athens_small_ours_edges.txt
data/athens_small/ours/athens_small_ours_vertices.txt
data/athens_small/sophia/athens_small_sophia_edges_old.txt
data/athens_small/sophia/athens_small_sophia_edges.txt
data/athens_small/sophia/athens_small_sophia_vertices.txt
data/athens_small/sophia/stats_md_10.txt
data/athens_small/sophia/stats_md_100.txt
data/berlin_large/.DS_Store
data/berlin_large/evals/.DS_Store
data/berlin_large/evals/berlin_large_osm_crp_tele_crp_wmm15.0_debug.log
data/berlin_large/evals/berlin_large_osm_crp_tele_crp_wmm15.0_intersections.pickle
data/berlin_large/evals/berlin_large_osm_crp_tele_crp_wmm15.0_intersections.txt
data/berlin_large/evals/berlin_large_osm_crp_tele_crp_wmm15.0_matching.pickle
data/berlin_large/evals/berlin_large_osm_crp_tele_crp_wmm15.0_matching.txt
data/berlin_large/ge/berlin_large_ge_edges.txt
data/berlin_large/ge/berlin_large_ge_vertices_old.txt
data/berlin_large/ge/berlin_large_ge_vertices.txt
data/berlin_large/mahmuda/berlin_large_mahmuda_
data/berlin_large/mahmuda/berlin_large_mahmuda_edges.txt
data/berlin_large/mahmuda/berlin_large_mahmuda_vertices.txt
data/berlin_large/mahmuda/170/berlin_large_mahmuda_
data/berlin_large/mahmuda/170/berlin_large_mahmuda_edges.txt
data/berlin_large/mahmuda/170/berlin_large_mahmuda_vertices.txt
data/berlin_large/osm/.DS_Store
data/berlin_large/osm/berlin_large_osm_edges.txt
data/berlin_large/osm/berlin_large_osm_vertices.txt
data/berlin_large/osm_crp/.DS_Store
data/berlin_large/osm_crp/berlin_large_osm_crp_edges.txt
data/berlin_large/osm_crp/berlin_large_osm_crp_vertices.txt
data/berlin_large/sophia/berlin_large_sophia_edges_old.txt
data/berlin_large/sophia/berlin_large_sophia_edges.txt
data/berlin_large/sophia/berlin_large_sophia_vertices.txt
data/berlin_large/sophia/berlin_large_sophia_vs_rn.png
data/berlin_large/tele/berlin_large_tele_edges.txt
data/berlin_large/tele/berlin_large_tele_vertices.txt
data/berlin_large/tele_crp/.DS_Store
data/berlin_large/tele_crp/berlin_large_tele_crp_edges.txt
data/berlin_large/tele_crp/berlin_large_tele_crp_vertices.txt
data/chicago/.DS_Store
data/chicago/chicago_osm_crp_kevin_dd_edges.txt
data/chicago/chicago_osm_crp_kevin_dd_vertices.txt
data/chicago/chicago_osm_crp_kevin_edges.txt
data/chicago/chicago_osm_crp_kevin_vertices.txt
data/chicago/cao/chicago_cao_edges.txt
data/chicago/cao/chicago_cao_vertices.txt
data/chicago/cao/plot_road_network.m
data/chicago/davies/chicago_davies_edges.txt
data/chicago/davies/chicago_davies_vertices.txt
data/chicago/davies/plot_road_network.m
data/chicago/edelkamp/chicago_edelkamp_edges.txt
data/chicago/edelkamp/chicago_edelkamp_vertices.txt
data/chicago/edelkamp/plot_road_network.m
data/chicago/evals/.DS_Store
data/chicago/evals/chicago_wmm15.0.pickle
data/chicago/evals/chicago_wmm15.0.txt
data/chicago/ge/chicago_ge_edges.txt
data/chicago/ge/chicago_ge_vertices_old.txt
data/chicago/ge/chicago_ge_vertices.txt
data/chicago/ge/ge_vs_rn_chicago.eps
data/chicago/ge/ge_vs_rn_chicago.pdf
data/chicago/james/chicago_james_edges.txt
data/chicago/james/chicago_james_vertices.txt
data/chicago/james/plot_road_network.m
data/chicago/kevin/.DS_Store
data/chicago/kevin/chicago_kevin_edges.txt
data/chicago/kevin/chicago_kevin_vertices.txt
data/chicago/kevin_dd/chicago_kevin_dd_edges.txt
data/chicago/kevin_dd/chicago_kevin_dd_vertices.txt
data/chicago/kharita/.DS_Store
data/chicago/kharita/chicago_kharita_edges.txt
data/chicago/kharita/chicago_kharita_vertices.txt
data/chicago/mahmuda/.DS_Store
data/chicago/mahmuda/chicago_mahmuda_edges.txt
data/chicago/mahmuda/chicago_mahmuda_vertices.txt
data/chicago/mahmuda/80/chicago_mahmuda_edges.txt
data/chicago/mahmuda/80/chicago_mahmuda_vertices.txt
data/chicago/osm/.DS_Store
data/chicago/osm/chicago_osm_edges.txt
data/chicago/osm/chicago_osm_vertices.txt
data/chicago/osm_crp/.DS_Store
data/chicago/osm_crp/chicago_osm_crp_edges.txt
data/chicago/osm_crp/chicago_osm_crp_vertices.txt
data/chicago/ours/.DS_Store
data/chicago/ours/chicago_ours_edges.txt
data/chicago/ours/chicago_ours_vertices.txt
data/chicago/roadrunner/.DS_Store
data/chicago/roadrunner/chicago_roadrunner_edges.txt
data/chicago/roadrunner/chicago_roadrunner_vertices.txt
data/chicago/sophia/chicago_sophia_edges_old.txt
data/chicago/sophia/chicago_sophia_edges.txt
data/chicago/sophia/chicago_sophia_vertices.txt
.DS_Store
H_edges.txt
H_vertices.txt
data/berlin_large/berlin_large_osm_crp_tele_crp_edges.txt
data/berlin_large/berlin_large_osm_crp_tele_crp_vertices.txt
data/berlin_large/osm_crp/berlin_large_osm_crp_graph.pickle
data/berlin_large/tele_crp/berlin_large_tele_crp_graph.pickle
athens_large_osm
athens_large_teleatlas
berlin_large_osm
berlin_large_tele
data/berlin_large/berlin_large_osm_tele_edges.txt
data/berlin_large/berlin_large_osm_tele_vertices.txt
data/berlin_large/evals/berlin_large_osm_tele_wmm15.0_debug.log
data/berlin_large/evals/berlin_large_osm_tele_wmm15.0_intersections.pickle
data/berlin_large/evals/berlin_large_osm_tele_wmm15.0_intersections.txt
data/berlin_large/evals/berlin_large_osm_tele_wmm15.0_matching.pickle
data/berlin_large/evals/berlin_large_osm_tele_wmm15.0_matching.txt
